html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.comment {
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    margin-bottom: 20px;
}
.timestamp {
    margin-top: auto;
    font-size: 10px;
}
.content{
    margin-top: auto;
}